*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: rgb(53, 77, 99);
  padding: 30px;
}

.card{
  height: 360px;
  width: 290px;
  background-color: azure;
  border-radius: 30px; 
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #111;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #111;
  padding-top: 10px ;
}

.center{
  /* background-color: aqua; */
}

.center h2{
  font-size: 20px;
  
}

.center h3{
  font-size: 18px;
  font-weight: 600 ;
}

.center span{
  font-size: 10px;
  font-weight: 400;
  color: #b9b6b6;
}

.center .tags{
  display: flex;
  gap: -2px;
  font-size: 15px;
}
.center .tags h4{
  font-size: 12px;
  background-color: #b9b6b6;
  width: fit-content;
  padding: 2px;
  margin: 5px;
  margin-top: 10px;
  color: #ffffff;
  margin-left: 0px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 18px;
}

.bottom p{
  font-size: 12px;
  color: #8b8b8b ;
}